*,*::after, *::before {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.fa-solid.fa-square-root-variable.fa-5x {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
}

.text {
  position: absolute;
  height: 50px;
  width: 170px;
  font-size: 25px;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);
}

.equal {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
}
